
header, footer {
    margin: auto;
    max-width: 1500px;
    text-align: center;
    padding: 20px;
}
h1 {
    margin: 0;
}
h2 {margin:0;}
h4 {margin: 0;}
p {margin: 4px 30px;}
ul {margin: 5px 10px;}
body {
    background-color: rgb(35, 35, 35);
    color: rgb(147, 218, 25);
    margin: auto;
    max-width: 1600px;
}
.container {
    margin: auto;
    display: flex;
}

nav {
    flex-direction: row;
    
}
nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
}
.nav-item {
    padding: 10px 16px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(147, 218, 25);
}
.nav-item:active, .nav-item:hover {
    background-color: rgb(147, 218, 25);
    border-color: rgb(147, 218, 25);
    color: rgb(35, 35, 35);;
}
a {
    text-decoration: none;
    color: rgb(29, 212, 245);
}
a:visited {
    color: inherit
}
article {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    margin: 50px 0;
    border-radius: 15px;
    overflow:hidden;

}
.article-header {
    padding: 10px;
    
}
.article-header a {
    color: rgb(147, 218, 25);
}
.article-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;

}

.content-section {
    flex-direction: row;
    flex-wrap: wrap;
}

.image-section {
    display: flex;
    flex-basis: 500px;
    justify-content: center;
}
.image-section img {
    max-width: 500px;
    flex: 1;
    padding: 0;
    justify-content: flex-end;
}

.text-section {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    flex: 3;
    flex-basis: 1050px;
}
.care-guide {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-around;
    
}

@media screen and (min-width: 1150px) {
    .article-content {
        flex-wrap: nowrap;
    }
    .text-section {
        flex: 2;
    }
    .image-section {
        
        margin: 0;
        justify-content: flex-end;

    }
    .image-section img {
        flex: 1;
        margin: 0;
        padding: 0;
        flex-basis: 330px;
        
    }
}